$color-one : black;
$color-two : #404d58;
$color-three : rgb(121, 117, 117);
$color-four :rgb(9, 9, 134);
$color-five :rgb(20, 105, 20);
$color-six : rgb(163, 163, 24);
$color-seven: rgb(158, 17, 40);
$color-eight : white;
